<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/css/bootstrap.min.css' %}">
    <!--link rel="stylesheet" href="/my-styles/style.css">   --> 
<title>{% block title %}Local Lib{% endblock %}</title>
</head>
<body>
    
    <div class="container-fluid">
        
        <br>
        <div class="row">
            <div class="col-md-2">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="{% url 'catalog:index' %}">Home</a>
                    <a class="nav-link" href="{% url 'catalog:books' %}">Books</a>
                    <a class="nav-link" href="{% url 'catalog:authors' %}">Authors</a>
                    
                </nav>
                <br>
                <nav class="nav flex-column">
                    {% if user.is_authenticated %}
                    <p>
                        <strong>User: </strong>{{ user.get_username }}
                    </p>
                    <p>
                        {{ user.email }}
                    </p>
                    <a class="nav-link " href="{% url 'catalog:log-out' %}?next={{ request.path }}" >Log Out</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}"> Login</a>
                    {% endif %}
                    <a class="nav-link" href="{% url 'catalog:borrowed-books' %}"> Borrowed Books</a>
                     
                </nav>
                <br>
                <hr>
                <h4>Staff</h4>
                <nav class="nav flex-column">
                    <a class="nav-link " href="{% url 'catalog:all-borrowed' %}">All Borrowed</a>
                    <a class="nav-link " href="#">Add Content</a>
                </nav>
            </div>
            <div class="col-md-8">
                {% block content %}
                
                {% endblock %}
            </div>
    </div>
            
        
    
    
</body>
</html>