{% extends 'catalog/base.html' %}

{% block title %}
Due Back Renew
{% endblock %}

{% block content %}
<br>
<br>

<h2>
    Setting New Due Back
</h2>
<br>
<strong>Title: </strong>{{ book.book.title }}<br>
<strong>GUID: </strong>{{ book.guid }}<br>
<strong>Borrower: </strong>{{ book.borrower }}<br>
<br>

{% if form.errors %}
    <p class="alert alert-danger">Please enter valid date not old or more than 3 weeks from now.</p>
{% endif %}
<form method="POST" action="{% url 'catalog:due-back-renew' book.guid %}">
    {% csrf_token %}
    <p>{{ form.due_back.label }}</p>
    <p>{{ form.due_back }}</p>
    <p class="text-muted">{{ form.due_back.help_text}}</p>
     <br>

    <input type="submit" value="Ok" class="btn btn-primary">
</form>
{% endblock %}